/* .splash {
  cursor: pointer;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 95%;
  width: 95%;
  transform: translate(-50%, -50%);
  background-color: #232323;
  transition: all ease-in-out 600ms;
  z-index: 10;
}

.hiddens {
  transition: 0.5s;
  display: none;
}

.splash-header {
  height: 90%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
} */
